body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.items {
  /* display: flex; */
  padding-top: 50px;
}
.grocery h1 {
  display: flex;
  padding-top: 20%;
}
.specs h2 {
  padding: 10px;
  border-radius: 10px;
}
.specs h2:hover {
  color: white;
  transition: 0.5s;
  background-color: black;
}
.specs figcaption {
  padding: 10px;
  border-radius: 10px;
}
.specs figcaption:hover {
  background-color: black;
  transition: 0.5s;
  color: white;
}
